main {
  min-height: 80vh;
}
.nav .eye {
  padding-right: 5px;
}
.nav {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /* margin: 10px; */
  border-radius: 3px;
  background: rgba(0, 0, 0);
  color: white;
  /* position: fixed; */
}
.home-title {
  text-align: center;
  margin-top: 20px;
  border-bottom: rgb(192, 182, 182) 2px solid;
}
.product-cart {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  height: 400px;
  background-color: #ececec;
}
.product-img {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  height: 220px;
  border-radius: 5px;
}
.product-price {
  margin: 20px;
}

h3 {
  padding: 1rem 0;
}
.rating span {
  margin: 0.1rem;
}
/* carousel */
.carousel {
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  width: 100%;
  background-color: #000;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 280px;
  width: 700px;
  border-radius: 10px;
  padding: 10px;
  /* margin: 40px; */
  /* border-radius: 50%; */
  /* margin-left: auto;
  margin-right: auto; */
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 1vw;
  }
}

.search-form {
  border-radius: 50px;
}

Form .search-btn {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #6e7172;
  padding: 40px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.search-btn:hover {
  background: #b4b7b8;
  color: #000;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1) !important;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57) !important;
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57) !important;
  transition: all 0.4s ease 0s !important;
}

/* Button */

:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
  border-radius: 8px;
  width: 150px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}

/* HEROSCTION */

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 768px) {
  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}

/* Social Icons */
.footer-con {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /* margin: 10px; */

  border-radius: 3px;
  background: rgba(0, 0, 0);

  display: flex;
  justify-content: space-evenly;
}

.social-icon-link {
  color: #fff;
  font-size: 20px;
  padding-right: 25px;
}
.social-icon-link:hover {
  color: #fff;
}

.social-icons {
  display: flex;
}
